# Caches & Stockage dynamique
/.thumbnails
/storage/session/*
/storage/.thumbnails/*
/storage/media/*
/storage/tribune_uploads/*
scratch/
# Fichiers sensibles & authentification
.admin_password_hash
.permissions.json
# Extensions métier / modules privés
apps/ffs-apps/
apps/sim-*/
apps/ffs/
# Archives & gros binaires (sécurité anti-fuite)
*.7z
*.zip
*.tar.gz
*.tgz
*.pcap
*.tmp
*.bak
*~
# Fichiers système OS
Thumbs.db
.DS_Store
desktop.ini
