# SimpleGallery 2026 - Deny Direct External Web Access to Test Suite
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
